<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaia Calculator</title>

  <!-- Imports -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.11"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<section id="section">
  <div id="calc-app">
    <h1>
      Let&rsquo;s calculate your investment!
    </h1>

    <form onsubmit="return false" id="calc-form">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>User Input</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Type</td>
            <td>
              <select
                v-model="typeSelected"
                ref="typeSelect"
                :style="{ 'width': (
                  !typeSelected ? '11' :
                    typeSelected === 'Managed' ? 9 : typeSelected.toString().length + 0.5
                ) + 'ch' }"
                :class="[{ 'placeholder-text': typeSelected === null }]"
              >
                <option :value="null" selected>Select type</option>
                <option :value="'Managed'">Managed</option>
                <!-- <option :value="'Self Serve'">Self serve</option> -->
                <option :value="'Pilot'">Pilot</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>Number of employees</td>
            <td>
              <input
                v-model="numberOfEmployeesText"
                ref="numberOfEmployeesInput"
                type="text"
                placeholder="e.g., 100"
                step="10"
                :style="{ 'width': (!numberOfEmployees ? '7' : numberOfEmployeesText.toString().length) + 'ch' }"
                :class="{ 'placeholder-text': numberOfEmployees === null }"
              >
            </td>
          </tr>

          <!-- <tr>
            <td :style="{ 'color': isNumberOfAdsUnnecessary ? 'var(--t-moss-green-disabled)' : 'var(--t-moss-green)' }">
              Number of ads

              <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" :style="{ 'margin-bottom': '-1px', 'cursor': 'help', 'opacity': isNumberOfAdsUnnecessary ? '0.3' : '1' }" ref="adsInfoIcon">
                <path d="M0 5.5C0 8.532 2.468 11 5.5 11C8.532 11 11 8.532 11 5.5C11 2.468 8.532 0 5.5 0C2.468 0 0 2.468 0 5.5ZM5.5 1C7.982 1 10 3.018 10 5.5C10 7.982 7.982 10 5.5 10C3.018 10 1 7.982 1 5.5C1 3.018 3.018 1 5.5 1Z" fill="#14B482"/>
                <path d="M5.50008 8.01601C5.77608 8.01601 6.00008 7.79201 6.00008 7.51601V4.96601C6.00008 4.69001 5.77608 4.46601 5.50008 4.46601C5.22408 4.46601 5.00008 4.69001 5.00008 4.96601V7.51601C5.00008 7.79201 5.22408 8.01601 5.50008 8.01601Z" fill="#14B482"/>
                <path d="M5.50008 3.98401C5.53208 3.98401 5.56608 3.98001 5.59808 3.97401C5.63008 3.96801 5.66208 3.95801 5.69208 3.94601C5.72208 3.93401 5.75008 3.91801 5.77808 3.90001C5.80408 3.88201 5.83008 3.86001 5.85408 3.83801C5.94608 3.74401 6.00008 3.61601 6.00008 3.48401C6.00008 3.35201 5.94608 3.22401 5.85408 3.13001C5.73808 3.01401 5.56408 2.96201 5.40208 2.99401C5.37008 3.00001 5.33808 3.01001 5.30808 3.02201C5.27808 3.03401 5.25008 3.05001 5.22208 3.06801C5.19608 3.08601 5.17008 3.10801 5.14608 3.13001C5.05408 3.22401 5.00008 3.35201 5.00008 3.48401C5.00008 3.61601 5.05408 3.74401 5.14608 3.83801C5.24008 3.93001 5.36808 3.98401 5.50008 3.98401Z" fill="#14B482"/>
              </svg>
            </td>
            <td>
              <select v-model="numberOfAdsSelected"
                ref="numberOfAdsSelect"
                :style="{ 'width': (!numberOfAdsSelected ? '20' : numberOfAdsSelected.toString().length + 1.5) + 'ch' }"
                :class="{ 'placeholder-text': numberOfAdsSelected === null }"
                :disabled="isNumberOfAdsUnnecessary"
              >
                <option :value="null">Select number of ads</option>
                <option v-for= "opt in numberOfAdsOpts" :value="opt"> {{ opt.toLocaleString() }} </option>  
              </select>
            </td>
          </tr>

          <tr>
            <td :style="{ 'color': isAiCreditsUnnecessary ? 'var(--t-moss-green-disabled)' : 'var(--t-moss-green)' }">
              AI credits
            </td>
            <td>
              <select
                v-model="aiCreditsSelected"
                :style="{ 'width': (aiCreditsSelected === null ? '16' : aiCreditsSelected.toString().length + 2) + 'ch' }"
                :class="{ 'placeholder-text': aiCreditsSelected === null }"
                :disabled="isAiCreditsUnnecessary"
              >
                <option :value="null">Select AI credits</option>
                <option v-for= "opt in aiCreditsOpts" :key="index" :value="opt"> {{ opt.toLocaleString() }} </option>
              </select>
            </td>
          </tr> -->

        </tbody>
  
        <tfoot v-if="onceSubmittedSuccessfully">
          <!-- division -->
          <tr>
            <td :style="{ 'border-left-style': 'none', 'height': '13px', 'padding': '0px' }"></td>
            <td :style="{ 'border-left-style': 'none', 'border-right-style': 'none', 'height': '13px', 'padding': '0px' }"></td>
          </tr>

          <!-- Calculated values -->
          <tr>
            <td>Monthly price core solution (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{
                  monthlyPricingCoreSolution
                    ? (typeof monthlyPricingCoreSolution === "number")
                      ? "£ " + Math.round(monthlyPricingCoreSolution).toLocaleString()
                      : monthlyPricingCoreSolution
                    : "-"
                }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Monthly price AI extras (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ monthlyPricingAIExtras ? "£ " + monthlyPricingAIExtras.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr v-if="typeSelected !== 'Self Serve'">
            <td>Quarterly price pilot (exc vat) (discounted)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ quarterlyPricingPilot 
                  ? (typeof quarterlyPricingPilot === "number")
                    ? "£ " + Math.round(quarterlyPricingPilot).toLocaleString()
                    : quarterlyPricingPilot
                  : "-"
                }}
              </template>
            </td>
          </tr>

          <tr v-if="typeSelected !== 'Self Serve'">
            <td>Yearly price managed (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ yearlyPricingManaged ? "£ " + yearlyPricingManaged.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>AI credits with core solution</td>
            <td>
              <template v-if="allValuesFilled">
                {{ aiCreditsWithCoreSolution ? aiCreditsWithCoreSolution.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <!-- <tr>
            <td>AI credits additional purchased</td>
            <td>
              <template v-if="allValuesFilled">
                {{ aiCreditsAdditionalPurchased ? aiCreditsAdditionalPurchased.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Total AI credits</td>
            <td>
              <template v-if="allValuesFilled">
                {{ totalAICredits ? totalAICredits.toLocaleString() : "-" }}
              </template>
            </td>
          </tr> -->

          <!-- Bottom 3 rows for Managed & Pilot -->
          <template v-if="typeSelected === 'Pilot' || typeSelected === 'Managed'">
            <tr>
              <td>Products</td>
              <td class="text-row">
                GaiaAttract <br/>
                GaiaMatch <br/>
                GaiaPages <br/>
                GaiaChat <br/>
                GaiaTrack
              </td>
            </tr>

            <tr>
              <td>Features</td>
              <td class="text-row">
                On demand creative studio,
                strategic support, and 
                tech integration support
              </td>
            </tr>

            <tr>
              <td>Support</td>
              <td class="text-row">
                Dedicated CSM & Creative Lead
              </td>
            </tr>
          </template>
        </tfoot>
      </table>

      <input type="submit" value="Get Results" id="get-results-button" @click="onSubmit" v-if="!onceSubmittedSuccessfully">
      <template v-else>
        <p :style="{'color': '#9d9d9d', 'margin-top': '30px'}">
          Additional pricing outside of these volumes available on request
        </p>
      </template>
    </form>
  </div>

</section>
<script src="script.js"></script>
</body>

</html>