<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaia Calculator</title>

  <!-- Imports -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.11"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="calc-app">
    <form onsubmit="return false" id="calc-form">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>User Input</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Type</td>
            <td>
              <select
                v-model="typeSelected"
                ref="typeSelect"
                :style="{ 'width': (
                  !typeSelected ? '11' :
                    typeSelected === 'Managed' ? 9 : typeSelected.toString().length + 0.5
                ) + 'ch' }"
                :class="[{ 'placeholder-text': typeSelected === null }]"
              >
                <option :value="null" selected>Select Type</option>
                <option :value="'Managed'">Managed</option>
                <option :value="'Self Serve'">Self Serve</option>
                <option :value="'Pilot'">Pilot</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>Number of Employees</td>
            <td>
              <input
                v-model="numberOfEmployees"
                ref="numberOfEmployeesInput"
                type="number"
                placeholder="e.g., 100"
                step="10"
                :style="{ 'width': (!numberOfEmployees ? '7' : numberOfEmployees.toString().length + 0.2) + 'ch' }"
                :class="{ 'placeholder-text': numberOfEmployees === null }"
              >
            </td>
          </tr>

          <tr>
            <td>Number of Ads</td>
            <td>
              <select v-model="numberOfAdsSelected"
                ref="numberOfAdsSelect"
                :style="{ 'width': (!numberOfAdsSelected ? '20' : numberOfAdsSelected.toString().length + 1.5) + 'ch' }"
                :class="{ 'placeholder-text': numberOfAdsSelected === null }"
                :disabled="isNumberOfAdsUnnecessary"
              >
                <option :value="null">Select Number of Ads</option>
                <option v-for= "opt in numberOfAdsOpts" :value="opt"> {{ opt }} </option>  
              </select>
            </td>
          </tr>

          <tr>
            <td>AI Credits</td>
            <td>
              <select
                v-model="aiCreditsSelected"
                :style="{ 'width': (aiCreditsSelected === null ? '16' : aiCreditsSelected.toString().length + 2) + 'ch' }"
                :class="{ 'placeholder-text': aiCreditsSelected === null }"
                :disabled="isAiCreditsUnnecessary"
              >
                <option :value="null">Select AI Credits</option>
                <option v-for= "opt in aiCreditsOpts" :key="index" :value="opt"> {{ opt }} </option>
              </select>
            </td>
          </tr>

        </tbody>
  
        <tfoot v-if="onceSubmittedSuccessfully">
          <!-- division -->
          <tr>
            <td :style="{ 'border-left-style': 'none', 'height': '13px', 'padding': '0px' }"></td>
            <td :style="{ 'border-left-style': 'none', 'border-right-style': 'none', 'height': '13px', 'padding': '0px' }"></td>
          </tr>

          <!-- Calculated values -->
          <tr>
            <td>Monthly Price Core Solution (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{
                  monthlyPricingCoreSolution
                    ? (typeof monthlyPricingCoreSolution === "number")
                      ? "£ " + Math.round(monthlyPricingCoreSolution).toLocaleString()
                      : monthlyPricingCoreSolution
                    : "-"
                }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Monthly Price AI Extras (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ monthlyPricingAIExtras ? "£ " + monthlyPricingAIExtras.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Quarterly Price Pilot (exc vat) (discounted)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ quarterlyPricingPilot 
                  ? (typeof quarterlyPricingPilot === "number")
                    ? "£ " + Math.round(quarterlyPricingPilot).toLocaleString()
                    : quarterlyPricingPilot
                  : "-"
                }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Yearly Price Managed (exc vat)</td>
            <td>
              <template v-if="allValuesFilled">
                {{ yearlyPricingManaged ? "£ " + yearlyPricingManaged.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>AI Credits with Core Solution</td>
            <td>
              <template v-if="allValuesFilled">
                {{ aiCreditsWithCoreSolution ? aiCreditsWithCoreSolution.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>AI Credits Additional Purchased</td>
            <td>
              <template v-if="allValuesFilled">
                {{ aiCreditsAdditionalPurchased ? aiCreditsAdditionalPurchased.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>

          <tr>
            <td>Total AI Credits</td>
            <td>
              <template v-if="allValuesFilled">
                {{ totalAICredits ? totalAICredits.toLocaleString() : "-" }}
              </template>
            </td>
          </tr>
        </tfoot>
      </table>

      <input type="submit" value="Get Results" id="get-results-button" @click="onSubmit" v-if="!onceSubmittedSuccessfully">
      <a href="#" id="get-recommendations-button" v-else>
        Get Recommendations
      </a>
    </form>
  </div>

  <script src="script.js"></script>
</body>

</html>