<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaia ROI Calculator</title>

  <!-- Imports -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.11"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="calc-section">
  <div id="calc-app">
    <h1 v-if="!onceSubmittedSuccessfully">
      Let&rsquo;s calculate your <br/>
      <i style="color: var(--t-moss-mute-green);">employer branding ROI</i>
    </h1>

    <form onsubmit="return false" id="calc-form" v-if="!onceSubmittedSuccessfully">
      <table>
        <thead>
          <tr>
            <th>Metric</th>
            <th style="text-align:center;">Enter Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Number of roles advertised
            </td>
            <td @click="focusInputWithin" class="cursor-type">
              <span class="currency-span" :style="{ 'color': rolesAdvertisedText ? 'inherit' : 'var(--t-black-placeholder)', 'margin-right': '4px' }"></span>
              <input placeholder="Enter Value"
                v-model="rolesAdvertisedText"
                ref="rolesAdvertisedInput"
                type="text"
                :style="{ 'width': (!rolesAdvertised ? '8.5' : rolesAdvertisedText.toString().length) + 'ch' }"
                :class="{ 'placeholder-text': rolesAdvertised === null }"
              >
            </td>
          </tr>

          <tr>
            <td>
              Number of roles filled
            </td>
            <td @click="focusInputWithin" class="cursor-type">
              <span class="currency-span" :style="{ 'color': rolesFilledText ? 'inherit' : 'var(--t-black-placeholder)', 'margin-right': '4px' }"></span>
              <input
                placeholder="Enter Value"
                v-model="rolesFilledText"
                ref="rolesFilledInput"
                type="text"
                :style="{ 'width': (!rolesFilled ? '8.5' : rolesFilledText.toString().length) + 'ch' }"
                :class="{ 'placeholder-text': rolesFilled === null }"
              >
            </td>
          </tr>
        </tbody>
      </table>

      <input type="submit" value="Get Results" id="get-results-button" @click="onSubmit" v-if="!onceSubmittedSuccessfully">
    </form>

    <div id="results" v-if="onceSubmittedSuccessfully">
      <h2 id="performance-level-heading">
        {{
          performanceLevel ? {
            'weak': "Weak",
            'moderate': 'Moderate',
            'good': 'Good',
            'excellent': 'Excellent',
          }[performanceLevel] : 'Needs improvement'
        }}
        <!-- <span style="text-wrap: nowrap;">(ROI: {{Math.round(roiValue)}}%)</span> -->
      </h2>
      <h3 id="performance-level-description" style="max-width: 865px;">
        <template v-if="performanceLevel === 'weak'">
          Act now; competitors are getting ahead and taking the best talent
          <!-- Looks like your employer branding efforts aren&rsquo;t moving the needle just yet.
          But don&rsquo;t worry - this isn&rsquo;t the end of the road,
          just a sign that it&rsquo;s time to fine-tune your approach. -->
        </template>
        <template v-if="performanceLevel === 'moderate'">
          Ok but lots of room for improvement; ad spend wastage is likely; this is hurting your EB
          <!-- Uh-oh! It looks like your employer branding efforts are costing you more than they&rsquo;re
          bringing in. Don&rsquo;t worry - we&rsquo;ve seen this before, and it&rsquo;s often a case of small tweaks
          making a big difference. -->
        </template>
        <template v-if="performanceLevel === 'good'">

          Good job! Well on your way, but with some specific learnings to boost EB well beyond competitors
          <!-- Not bad, but not brilliant either. You&rsquo;re breaking even or getting some return on your
          efforts, which is a good start! But why settle for “alright” when you could achieve
          “absolutely smashing”? -->
        </template>
        <template v-if="performanceLevel === 'excellent'">
          Smashing it! You’re leading the way with a strong EB. The question is: what can you do to maintain and strengthen it further?
          <!-- Now we&rsquo;re talking! Your employer branding efforts are hitting the mark, and the results are
          looking rather impressive. But even the best strategies can always use a bit of polish or
          scaling up, right? -->
        </template>
      </h3>

      <h2 id="whats-next-heading">
        What&rsquo;s next?
      </h2>
      <h3 id="whats-next-description" style="max-width: 490px;">
        <template v-if="performanceLevel === 'weak'">
          Letit&rsquo;s take a closer look at whatit&rsquo;s working, whatit&rsquo;s not, and how you can start seeing real results.
          A strong employer brand doesnit&rsquo;t happen overnight, but with the right strategy, youit&rsquo;ll get there.
        </template>
        <template v-if="performanceLevel === 'Moderate'">
          Let&rsquo;s have a quick chat! We can help you turn things around, optimise your strategy, and
          start seeing results that make all the effort worthwhile. After all, it&rsquo;s what we do best.
        </template>
        <template v-if="performanceLevel === 'Good'">
          Book a chat with us. We&rsquo;ll show you how to take your employer branding from meh to
          marvellous in no time.
        </template>
        <template v-if="performanceLevel === 'Excellent'">
          Let&rsquo;s have a chat. We&rsquo;ll help you keep the momentum going and explore how to make your
          branding efforts even more impactful.
        </template>
      </h3>

      <a id="book-demo-button" href="https://www.iamgaia.com/book-a-demo" target="_blank">
        Book a Chat
      </a>
    </div>
  </div>

</div>
<script src="script.js"></script>
</body>

</html>