<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaia ROI Calculator</title>

  <!-- Imports -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.8"></script>
  <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.11"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="calc-section">
  <div id="calc-app">
    <h1 v-if="!onceSubmittedSuccessfully">
      Let&rsquo;s calculate your <br/>
      <i style="color: var(--t-moss-mute-green);">employer branding ROI</i>
    </h1>

    <form onsubmit="return false" id="calc-form" v-if="!onceSubmittedSuccessfully">
      <table>
        <thead>
          <tr>
            <th>Metric</th>
            <th>Number per year</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Number of roles advertised
            </td>
            <td @click="focusInputWithin" class="cursor-type">
              <input placeholder="Enter value"
                v-model="rolesAdvertisedText"
                ref="rolesAdvertisedInput"
                type="text"
                :size="!rolesAdvertised ? 10 : rolesAdvertisedText.length"
                :class="{ 'placeholder-text': rolesAdvertised === null }"
              >
            </td>
          </tr>

          <tr>
            <td>
              Number of roles filled
            </td>
            <td @click="focusInputWithin" class="cursor-type">
              <input
                placeholder="Enter value"
                v-model="rolesFilledText"
                ref="rolesFilledInput"
                type="text"
                :size="!rolesFilled ? 10 : rolesFilledText.length"
                :class="{ 'placeholder-text': rolesFilled === null }"
              >
            </td>
          </tr>
        </tbody>
      </table>

      <input type="submit" value="Get Results" id="get-results-button" @click="onSubmit" v-if="!onceSubmittedSuccessfully">
    </form>

    <div id="results" v-if="onceSubmittedSuccessfully">
      <h2 id="performance-level-heading">
        {{
          performanceLevel ? {
            'weak': "Weak",
            'moderate': 'Moderate',
            'good': 'Good',
            'excellent': 'Excellent',
          }[performanceLevel] : 'Needs improvement'
        }}
        <!-- <span style="text-wrap: nowrap;">(ROI: {{Math.round(roiValue)}}%)</span> -->
      </h2>
      <h3 id="performance-level-description" style="max-width: 865px;">
        <template v-if="performanceLevel === 'weak'">
          Act now; competitors are getting ahead and taking the best talent
        </template>
        <template v-if="performanceLevel === 'moderate'">
          Ok but lots of room for improvement; ad spend wastage is likely; this is hurting your EB
        </template>
        <template v-if="performanceLevel === 'good'">
          Good job! Well on your way, but with some specific learnings to boost EB well beyond competitors
        </template>
        <template v-if="performanceLevel === 'excellent'">
          Smashing it! You&rsquo;re leading the way with a strong EB. The question is: what can you do to maintain and strengthen it further?
        </template>
      </h3>

      <h2 id="whats-next-heading">
        What&rsquo;s next?
      </h2>
      <h3 id="whats-next-description" style="max-width: 490px;">
        <template v-if="performanceLevel === 'weak'">
          Let&rsquo;s take a closer look at what&rsquo;s working, what&rsquo;s not, and how you can start seeing real results.
          A strong employer brand doesn&rsquo;t happen overnight, but with the right strategy, you&rsquo;ll get there.
        </template>
        <template v-if="performanceLevel === 'moderate'">
          Let&rsquo;s have a quick chat! We can help you turn things around, optimise your strategy, and
          start seeing results that make all the effort worthwhile. After all, it&rsquo;s what we do best.
        </template>
        <template v-if="performanceLevel === 'good'">
          Book a chat with us. We&rsquo;ll show you how to take your employer branding from meh to
          marvellous in no time.
        </template>
        <template v-if="performanceLevel === 'excellent'">
          Let&rsquo;s have a chat. We&rsquo;ll help you keep the momentum going and explore how to make your
          branding efforts even more impactful.
        </template>
      </h3>

      <a id="book-demo-button" href="https://www.iamgaia.com/book-a-demo" target="_blank">
        Book a Chat
      </a>
    </div>
  </div>

</div>
<script src="script.js"></script>
</body>

</html>